// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// ADDED COLORS
// background color for grid of cards
$night-blue: #00005C;
$midnight-blue: rgb(3, 4, 94);
$midnight-blue-photo:rgb(2, 28, 60);
// background color for cards
$purple-card: #6A097D;
$midnight-blue-card: rgba(3, 4, 94, 0.7);
$midnight-blue-photo-adjusted: rgb(7, 57, 119);
$midnight-blue-photo-rgba:rgba(2, 28, 60,0.7);
$midnight-blue-photo-red: rgb(121, 28, 6)

