<!-- navbar -->



<!-- banner -->
<!-- image url:  -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= asset_url('cocktail_banner1') %>')">
  <div class="container">
    <h1>For Goodness's shake</h1>
    <p><strong>Your cocktail</strong> rendez-vous</p>
    <p>Don't worry about the bill...just mind the pill</p>
    <%= link_to new_cocktail_path, class: 'btn btn-light' do %>
      Add a cocktail
    <% end %>
  </div>
</div>



<!-- CSS grid -->
<div class="cards">

  <% @cocktails.each do |cocktail| %>

    <div class="card-cocktail">
    <%= cl_image_tag("vnoevi9hwdqamzp3n4j4bvtnotxi", width: 400, height: 300, crop: :fill) %>
      <div class="card-cocktail-infos">
        <div>
          <h2><%= link_to "#{cocktail.name} (cocktail.id = #{cocktail.id})", cocktail_path(cocktail) %></h2>
        </div>
      </div>
    </div>

  <% end %>

</div>


