<!-- navbar -->



<!-- banner -->
<!-- image url:  -->
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('cocktail_banner1.jpg') %>')">
  <div class="container">
    <h1>For Goodness shake</h1>
    <p>Your cocktail rendez-vous</p>
    <%= link_to new_cocktail_path, class: 'btn btn-ghost ' do %>
      Add a cocktail
    <% end %>
  </div>
</div>



<!-- CSS grid -->
<div class="cards">

  <% @cocktails.each do |cocktail| %>

    <div class="card-cocktail">
    <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
      <div class="card-cocktail-infos">
        <div>
          <h2><%= link_to "#{cocktail.name} (cocktail.id = #{cocktail.id})", cocktail_path(cocktail) %></h2>
        </div>
      </div>
    </div>

  <% end %>

</div>


