
body {
  background-color: $midnight-blue-photo;
}

.title-create-cocktail-section {
  background-color: $midnight-blue-photo;
  // padding: 8px 0;
  margin-top: 48px;
}

.title-create-cocktail-section h1 {
  color: rgba(236, 236, 236, 0.8);
  text-align: center;
  font-size: 48px;
}

.cocktail-section {
  margin-bottom: 48px;
}

.cocktail-section h2 {
  color: rgba(236, 236, 236, 0.8);
}


.cocktail-section .ingredient-form-label {
  color: rgba(236, 236, 236, 0.8);
}
