
.title-create-cocktail-section {
  background-color: $midnight-blue-photo;
  padding: 8px 0;
}

.title-create-cocktail-section h1 {
  color: rgba(236, 236, 236, 0.8);
  text-align: center;
  font-size: 48px;
  padding-top: 16px;
}

.cocktail-section h2 {
  color: rgba(236, 236, 236, 0.8);
}


.cocktail-section .ingredient-form-label {
  color: rgba(236, 236, 236, 0.8);
}
