

.ingredients-list {
  padding-left: 0px;
}

.ingredients-list li {
  border-left: 3px solid #dcc0c0;
  // padding: 12px 8px;
  padding-left: 0px;
  background-color: #eaeaea;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  margin-bottom: 8px;
}

.ingredients-list .dose-delete-icon {
  color: rgb(230,230,230);
  // opacity: 0.15;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.3s ease;
}

.ingredients-list .dose-delete-icon:hover {
  // opacity: 1;
  opacity: 1;
}
