
.banner {
  background-size: cover;
  background-position: center;
  padding: 240px 0;
}

.banner h1 {
  margin-bottom: 16px;
  // color: white;
  color: rgb(250,250,250);
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 32px;
  padding-bottom: 16px;
  // color: white;
  color: rgb(240,240,240);
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
