
.button-back-to-list-section .btn-coktail-navigation {
  color: rgb(240,240,240);
  border: 2px solid rgb(240,240,240);
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.button-back-to-list-section .btn-coktail-navigation:hover {
  opacity: 1;
}

// START -
.navbar-cocktail .btn-navbar-goodness-shake {
  color: rgb(250,250,250);
  font-size: 24px;
  font-weight: bold;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.navbar-cocktail .btn-navbar-goodness-shake:hover {
  opacity: 1;
}
// END -

// START - cocktail show page > navbar > button "add a cocktail"
.btn-add-cocktail {
  color: $midnight-blue-photo;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(250,250,250);
  opacity: 0.8;
  transition: opacity 0.3s ease;
}


.btn-add-cocktail:hover {
  opacity: 1;
}
// END - cocktail show page > navbar > button "add a cocktail"
