
// START - footer (boilerplate from Le Wagon UI Kitt)
.footer {
  background: $midnight-blue-photo;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: rgb(230,230,230);
  border-top: 2px solid rgba(240,240,240,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: rgb(230,230,230);
  // opacity: 0.15;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  // opacity: 1;
  opacity: 1;
  transition: 0.3s ease;
}

.footer-copyright {

}

.footer .fa-heart {
  color: #D23333;
}
// END - footer (boilerplate from Le Wagon UI Kitt)


